<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Page</title>
    @RenderSection("stylesheet", required: false)
    <link rel="stylesheet" href="~/css/locus-font.css">
    <link rel="stylesheet" href="~/css/locus.css">

</head>
<body id="body" class="select--off">
    <section id="top-bar">
        <div class="top-bar">
            <div class="top-bar__logo">
                <i class="top-bar__logo-icon icon-compass"></i>
                <div class="top-bar__title">LOCUS</div>
            </div>
            <div class="top-bar__input">
                <i class="top-bar__input-icon icon-search"></i>
                @RenderSection("top_bar", required: true)
            </div>
            <div class="top-bar__account"></div>
        </div>
    </section>
    <nav id="side-bar">
        <div class="navigation">
            @RenderSection("side_bar", required: true)
            <a class="button" href="#">
                <i class="button__icon icon-book"></i>
                <div class="button__text">History</div>
            </a>
            <div class="button accordion">
                <i class="button__icon icon-cog"></i>
                <div class="button__text">Admin</div>
                <i class="button__dropdown-icon"></i>
            </div>
            <div class="submenu">
                <a class="button" href="#">
                    <i class="button__icon icon-right-dir"></i>
                    <div class="button__text">Settings</div>
                </a>
                <a class="button" href="#">
                    <i class="button__icon icon-right-dir"></i>
                    <div class="button__text">Create Tool</div>
                </a>
            </div>
        </div>
    </nav>
    <section id="content">
        <div class="header">
            <div class="header__group">
                <div class="header__organisation">Nelson Park School</div>
                <div class="header__index">
                    <div>
                        <i class="header__icon icon-@Model.Icon"></i>
                        <span class="header__controller">@(Model.Controller + " /")</span>
                    </div>
                    <div class="header__page">@Model.Page</div>
                </div>
            </div>
            @RenderSection("content_header", required: false)
        </div>
        @RenderSection("content", required: true)
    </section>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/tooltip.js"></script>
    @RenderSection("javascript", required: false)
</body>
</html>