<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@Model.Page</title>
    @RenderSection("stylesheet", required: false)
    <link rel="stylesheet" href="~/css/locus-font.css">
    <link rel="stylesheet" href="~/css/page_layout.css">

</head>
<body id="body" class="select--off">
    <section id="top-bar">
        <div class="top-bar">
            <div class="top-bar__logo">
                <i class="icon-compass top-bar__logo-icon"></i>
                <div class="top-bar__logo-title">LOCUS</div>
            </div>
            <div class="top-bar__input-wrapper">
                <i class="icon-search top-bar__input-icon"></i>
                @RenderSection("top_bar", required: true)
            </div>
            <div class="top-bar__account-wrapper"></div>
        </div>
    </section>
    <nav id="side-bar">
        <div class="navigation">
            @RenderSection("side_bar", required: true)
            <a class="navigation__button" href="#">
                <i class="icon-book navigation__button-icon"></i>
                <div class="navigation__button-text">History</div>
            </a>
            <div class="navigation__button accordion">
                <i class="icon-cog navigation__button-icon"></i>
                <div class="navigation__button-text">Admin</div>
                <i class="navigation__button-dropdown-icon"></i>
            </div>
            <div class="navigation__submenu">
                <a class="navigation__button" href="#">
                    <i class="icon-right-dir navigation__button-icon"></i>
                    <div class="navigation__button-text">Settings</div>
                </a>
                <a class="navigation__button" href="#">
                    <i class="icon-right-dir navigation__button-icon"></i>
                    <div class="navigation__button-text">Create Tool</div>
                </a>
            </div>
        </div>
    </nav>
    <section id="content">
        <div class="content-header">
            <div class="content-header__group">
                <div class="content-header__organisation">Nelson Park School</div>
                <div class="content-header__index">
                    <div>
                        <i class="icon-@Model.Icon content-header__icon"></i>
                        <span class="content-header__controller">@(Model.Controller + " /")</span>
                    </div>
                    <div class="content-header__page">@Model.Page</div>
                </div>
            </div>
            @RenderSection("content_header", required: false)
        </div>
        @RenderSection("content", required: true)
    </section>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/tooltip.js"></script>
    @RenderSection("javascript", required: false)
</body>
</html>