@model DashboardIndexViewModel

@section top_bar {
    <input class="top-bar__input-field" id="top-bar__input-field" type="text" onkeyup="Update(this.value.toUpperCase())" placeholder="Search Assignments">
}

@section side_bar {
    <div class="navigation">
        <a asp-controller="Dashboard" asp-action="Index" class="navigation__button navigation__button--selected">
            <i class="icon-10 navigation__button-icon"></i>
            <div class="navigation__button-text">Dashboard</div>
        </a>
        <a class="navigation__button" href="#">
            <i class="icon-13 navigation__button-icon"></i>
            <div class="navigation__button-text">History</div>
        </a>
        <div class="navigation__button accordion">
            <i class="icon-6 navigation__button-icon"></i>
            <div class="navigation__button-text">Admin</div>
            <i class="navigation__button-dropdown-icon"></i>
        </div>
        <div class="navigation__submenu">
            <a class="navigation__button" href="#">
                <i class="icon-right-dir navigation__button-icon"></i>
                <div class="navigation__button-text">Settings</div>
            </a>
            <a class="navigation__button" href="#">
                <i class="icon-right-dir navigation__button-icon"></i>
                <div class="navigation__button-text">Create Tool</div>
            </a>
        </div>
        <a class="navigation__button" href="#">
            <i class="icon-2 navigation__button-icon"></i>
            <div class="navigation__button-text">New Assignment</div>
        </a>
    </div>
}

@section content {
    <div class="dashboard">
        <div class="dashboard-header">
            <div class="dashboard-header__group">
                <div class="dashboard-header__organisation">Nelson Park School</div>
                <div class="dashboard-header__index">
                    <i class="icon-10"></i>/
                    <div class="dashboard-header__index--end">Dashboard</div>
                </div>
            </div>
            <div class="dashboard-header__group">
                <a class="dashboard-header__button" href="#">
                    <i class="icon-2"></i>
                    <div class="dashboard-header__button-text">New Assignment</div>
                </a>
            </div>
        </div>
        <div class="dashboard-overview">
            <div class="dashboard-overview__card">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.AssignedAssetsCount</div>
                        <div class="dashboard-overview__card-type">Users</div>
                    </div>
                    <i class="icon-11 dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.DueTodayCount</div>
                        <div class="dashboard-overview__card-type">Due Today</div>
                    </div>
                    <i class="icon-5 dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.OverdueCount</div>
                        <div class="dashboard-overview__card-type">Overdue</div>
                    </div>
                    <i class="icon-12 dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">0</div>
                        <div class="dashboard-overview__card-type">Empty</div>
                    </div>
                    <i class="icon-5 dashboard-overview__card-icon"></i>
                </div>
            </div>
        </div>
        <div class="dashboard-groups">
            @foreach (var group in Model.Groups)
            {
                <div class="dashboard-groups__header accordion">
                    <i class="dashboard-groups__header-icon"></i>
                    <div class="dashboard-groups__header-name">@group.Name</div>
                    <div class="dashboard-groups__header-number">(@group.Users.Count)</div>
                </div>
                <div class="dashboard-groups__body">
                    <table class="dashboard-groups__table" data-name="dashboard-groups__table">
                        <tr class="dashboard-groups__row">
                            <th>Name</th>
                            <th>Role</th>
                            <th>Created</th>
                            <th>Next Due Date</th>
                            <th>Assets</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var user in group.Users)
                        {
                            string status = ""; 
                            <tr class="dashboard-groups__row">
                                <td class="dashboard-groups__search-field">@user.Name</td>
                                <td class="dashboard-groups__search-field">@user.Role.Name</td>
                                <td>@user.Created.ToString("dd-MM-yyyy")</td>
                                <td>TODO</td>
                                <td>
                                    @foreach (var asset in user.Assets)
                                    {
                                        var hours = (asset.Due - DateTime.Now).TotalHours;
                                        if (hours < 0)
                                        {
                                            status = "Overdue";
                                        }
                                        else if (hours > 24 & status != "Overdue")
                                        {
                                            status = "Active";
                                        }
                                        else if (status != "Overdue")
                                        {
                                            status = "Due";
                                        }
                                        <i class="icon-10 dashboard-groups__icon dashboard-groups__icon--@status.ToLower()"></i>
                                    }
                                </td>
                                <td><div class="dashboard-groups__status dashboard-groups__search-field dashboard-groups__status--@status.ToLower()">@status</div></td>
                                <td>
                                    <a class="icon-edit dashboard-groups__icon" href="#"></a>
                                    <a class="icon-cancel dashboard-groups__icon" href="#"></a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/navigation.css">
    <link rel="stylesheet" href="~/css/top-bar.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/dashboard-header.css">
    <link rel="stylesheet" href="~/css/dashboard-overview.css">
    <link rel="stylesheet" href="~/css/dashboard-groups.css">
}

@section javascript {
    <script src="~/js/dashboard.js"></script>
}