@model UserCreateViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="Search Assets by Model, Tag, Status or Collection">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button navigation__button--blue">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content {
    <form class="user" id="user" method="post" autocomplete="off">
        <div class="user-content">
            <div class="user-details">
                <div class="user-details__row">
                    <div><i class="icon-user user-details__icon"></i>Name</div>
                    <input name="UserDetails.Name" class="user-details__input" type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div><i class="icon-mail-alt user-details__icon"></i>Email</div>
                    <input name="UserDetails.Email" class="user-details__input" type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div><i class="icon-phone user-details__icon"></i>Phone</div>
                    <input name="UserDetails.Phone" class="user-details__input " type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div><i class="icon-user-times user-details__icon"></i>Absentee</div>
                    <input name="UserDetails.Absentee" class="user-details__input" type="text" placeholder="">
                </div>
                <div class="user-details__row">
                    <div><i class="icon-th-list user-details__icon"></i>Role</div>
                    <div class="user-details__input-wrapper">
                        <select name="UserDetails.RoleId" class="user-details__input user-details__input--select">
                            <option hidden="hidden" disabled selected></option>
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.Id">@role.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="user-details__row user-details__row--grow">
                    <div><i class="icon-align-left user-details__icon"></i>Comments</div>
                    <textarea name="UserDetails.Comment" class="user-details__input user-details__input-comment"></textarea>
                </div>
            </div>
            <div class="user-assets">
                <div class="user-assets__header">
                    <div class="dropdown__wrapper dropdown__wrapper--larger">
                        <div id="dropdown" class="dropdown">All</div>
                        <div class="dropdown__content">
                            <input class="dropdown__search" type="text">
                            <div class="dropdown__scroll-group">
                                <div class="dropdown__option is-active" data-search="">All<span class="dropdown__option-value">@{var count = 0; foreach (var collection in Model.CollectionsOfModels) { count += collection.TList.Count; } @count }</span></div>
                                @foreach (var collection in Model.CollectionsOfModels)
                                {
                                    <div class="dropdown__option" data-search="@collection.Name">@collection.Name<span class="dropdown__option-value">@collection.TList.Count</span></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-assets__content">
                    @{
                        int index = 0;
                        foreach (var collection in Model.CollectionsOfModels)
                        {
                            foreach (var _model in collection.TList)
                            {
                                if (_model.Asset == null)
                                {
                                    <div class="user-assets__card-wrapper @(_model.Surplus == 0 ? "is-empty" : "")">
                                        @if (_model.Surplus != 0)
                                        {
                                            <input type="hidden" class="user-assets__hidden" name="AssignmentOperations.Index" value="@index" disabled/>
                                            <input type="hidden" class="user-assets__hidden" name="AssignmentOperations[@index].ModelId" value="@_model.Id" disabled/>
                                            <input type="hidden" class="user-assets__hidden" name="AssignmentOperations[@index].CollectionId" value="@collection.Id" disabled/>
                                            <input type="radio" class="user-assets__input is-assign" disabled/>
                                            ++index;
                                        }
                                        <div class="user-assets__card">
                                            <i class="icon-@_model.Icon user-assets__icon"></i>
                                            <div class="user-assets__left">
                                                <div class="user-assets__model searchable">@_model.Name</div>
                                                <div class="user-assets__collection searchable">@collection.Name</div>
                                            </div>
                                            <div class="user-assets__right">
                                                <div class="user-assets__names">
                                                    <div>Status:</div>
                                                    <div>Surplus:</div>
                                                    <div>Period:</div>
                                                </div>
                                                <div class="user-assets__values">
                                                    <div>@(_model.Surplus == 0 ? "Empty" : "Available")</div>
                                                    <div>@(_model.Surplus + " / " + _model.Total)</div>
                                                    <div>@(_model.Period + " day" + (_model.Period == 1 ? "" : "s"))</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>
        </div>
        <div class="user-footer">
            <input type="submit" value="Create" id="submit" class="user-footer__button">
            <input type="button" value="Reset" id="reset" class="user-footer__button">
            <a asp-controller="Home" asp-action="Dashboard" class="user-footer__button">Cancel</a>
            <input type="hidden" id="checkboxAssigned" name="checkboxAssigned">
        </div>
    </form>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/user.js"></script>
}