@model UserCreateViewModel

@section top_bar {
    <input class="top-bar__field" id="top-bar__field" type="text" placeholder="Search Assets by Model, Tag, Status or Collection">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="button">
        <i class="button__icon icon-home"></i>
        <div class="button__text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="button button--blue">
        <i class="button__icon icon-user-plus"></i>
        <div class="button__text">New User</div>
    </a>
}

@section content {
    <form class="user" id="user" method="post" autocomplete="off">
        <div class="content">
            <div class="form">
                <div class="form__row">
                    <div><i class="form__icon icon-user"></i>Name</div>
                    <input name="UserDetails.Name" class="form__input" type="text" placeholder="">
                </div>
                <div class="form__row">
                    <div><i class="form__icon icon-mail-alt"></i>Email</div>
                    <input name="UserDetails.Email" class="form__input" type="text" placeholder="">
                </div>
                <div class="form__row">
                    <div><i class="form__icon icon-phone"></i>Phone</div>
                    <input name="UserDetails.Phone" class="form__input " type="text" placeholder="">
                </div>
                <div class="form__row">
                    <div><i class="form__icon icon-user-times"></i>Absentee</div>
                    <input name="UserDetails.Absentee" class="form__input" type="text" placeholder="">
                </div>
                <div class="form__row">
                    <div><i class="form__icon icon-th-list"></i>Role</div>
                    <div class="form__input-wrapper">
                        <select name="UserDetails.RoleId" class="form__input form__input--select">
                            <option hidden="hidden" disabled selected></option>
                            @if (Model.Roles != null)
                            {
                                @foreach (var role in Model.Roles)
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form__row form__row--grow">
                    <div><i class="form__icon icon-align-left"></i>Comments</div>
                    <textarea name="UserDetails.Comment" class="form__input form__input--comment"></textarea>
                </div>
            </div>
            <div class="assets">
                <div class="assets__header">
                    <div class="dropdown__wrapper dropdown__wrapper--larger">
                        <div id="dropdown" class="dropdown">All</div>
                        <div class="dropdown__content">
                            <input class="dropdown__search" type="text">
                            <div class="dropdown__scroll-group">
                                <div class="dropdown__option is-active" data-search="">All<span class="dropdown__option-value">@{var count = 0; foreach (var collection in Model.CollectionsOfModels) { count += collection.TList.Count; } @count }</span></div>
                                @foreach (var collection in Model.CollectionsOfModels)
                                {
                                    <div class="dropdown__option" data-search="@collection.Name">@collection.Name<span class="dropdown__option-value">@collection.TList.Count</span></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assets__body">
                    @{
                        int index = 0;
                        foreach (var collection in Model.CollectionsOfModels)
                        {
                            foreach (var _model in collection.TList)
                            {
                                if (_model.Periods != null && _model.Surplus > 0)
                                {
                                    <ul class="period-menu">
                                        @foreach (var period in _model.Periods)
                                        {
                                            if (period.Days == _model.DefaultPeriod.Days)
                                            {
                                                <li class="is-selected is-default" data-period="@period.Days">@period.Text</li>
                                            }
                                            else
                                            {
                                                <li data-period="@period.Days">@period.Text</li>
                                            }
                                        }
                                    </ul>
                                }
                                <div class="card__wrapper @(_model.Surplus == 0 ? "is-empty" : "")">
                                    @if (_model.Surplus > 0)
                                    {
                                        <input type="hidden" name="AssignmentOperations.Index" value="@index" disabled />
                                        <input type="hidden" name="AssignmentOperations[@index].ModelId" value="@_model.Id" disabled />
                                        <input type="hidden" name="AssignmentOperations[@index].CollectionId" value="@collection.Id" disabled />
                                        if (_model.Periods != null)
                                        {
                                            <input type="hidden" class="input__period" name="AssignmentOperations[@index].Period" value="@_model.DefaultPeriod.Days" disabled />
                                        }
                                        <input type="radio" class="is-assign" name="AssignmentOperations[@index].Type" value="1" />
                                        ++index;
                                    }
                                    <div class="card">
                                        <i class="icon-@_model.Icon card__icon"></i>
                                        <div class="card__body-A">
                                            <div class="card__model searchable">@_model.Name</div>
                                            <div class="card__collection searchable">@collection.Name</div>
                                        </div>
                                        <div class="card__body-B card__body-B--margin">
                                            <div class="card__properties">
                                                <div>Status:</div>
                                                <div>Surplus:</div>
                                                <div>
                                                    @if (_model.Periods == null)
                                                    {
                                                        <i class="icon-lock"></i>
                                                    }
                                                    Period:
                                                </div>
                                            </div>
                                            <div class="card__values">
                                                <div>@(_model.Surplus == 0 ? "Empty" : "Available")</div>
                                                <div>@(_model.Surplus + " of " + _model.Total)</div>
                                                <div class="card__period">@_model.DefaultPeriod.Text</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
                <div class="help">
                    <div class="help__item">
                        <div class="help__line">
                            <span>left-click</span> multiple times on a <span>model card</span> to cycle through available operations.
                        </div>
                        <div>Where no asset is assigned:</div>
                        <div class="tooltip__block tooltip--caps">
                            <div><i class="icon-plus tooltip__icon tooltip__icon--green"></i>assign a new asset</div>
                        </div>
                        <div>For assets that are assigned:</div>
                        <div class="tooltip__block tooltip--caps">
                            <div><i class="icon-cancel tooltip__icon tooltip__icon--red"></i>return this asset</div>
                            <div><i class="icon-forward tooltip__icon tooltip__icon--yellow"></i>extend the due date by the specified period</div>
                        </div>
                    </div>
                    <div class="help__item">
                        Creating a new assignment will select an asset <span>at random</span> from the available asset pool,
                        based on the selected model and collection. The duration of the assignment will be equal to the
                        <span>period</span> shown on the <span>model card</span>. To change the <span>period</span>, simply
                        <span>right-click</span> on a <span>model card</span> and select a new period from the drop down menu.
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <input type="submit" value="Create" class="btn">
            <input type="button" value="Reset" id="reset" class="btn btn--dark">
            <a asp-controller="Home" asp-action="Dashboard" class="btn--dark btn">Cancel</a>
            <input type="hidden" id="checkboxAssigned" name="checkboxAssigned">
        </div>
    </form>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/user.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
}

@section javascript {
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/user.js"></script>
}