@model UserReportViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New User</div>
    </a>
}

@section content {
    <div class="report">
        <div class="report-content">
            <div class="report-header">
                <div>
                    <div class="report-header__name select--on">@Model.Report.UserName</div>
                    <div class="report-header__date select--on">@Model.Report.UserCreated.ToString("dd-MM-yy h:mm tt")</div>
                </div>
                <div class="report-header__right">
                    @{
                        switch (Model.Report.UserStatus)
                        {
                            case Status.Active:
                                <a asp-controller="User" asp-action="Edit" asp-route-userId="@Model.Report.UserId" class="report-header__button report-header__button--dark" title="Edit this User">Edit User</a>
                                <input type="button" value="Print Summary" class="report-header__button">
                                break;
                            case Status.Inactive:
                                <i class="icon-info report-header__icon report-header__icon--blue"></i>
                                <div>
                                    <div>All outstanding assets have been returned. User is INACTIVE</div>
                                </div>
                                break;
                            case Status.Error:
                                <i class="icon-attention report-header__icon report-header__icon--yellow"></i>
                                <div>
                                    <div>An error has occoured!</div>
                                    <div>Unable to count user assignments</div>
                                </div>
                                break;
                        }
                    }
                </div>
            </div>
            @{
                foreach (var collection in Model.Report.CollectionsOfReportItems)
                {
                    <div class="report-collection">
                        <div class="report-collection__title">@collection.Name</div>
                        @foreach (var item in collection.TList)
                        {
                            switch (item)
                            {
                                case ReturnedReportItem returned:
                                    returned = item as ReturnedReportItem;
                                    <div class="report-item">
                                        <i class="icon-cancel report-item__status report-item__status--red"></i>
                                        <i class="icon-@returned.Icon report-item__model-icon"></i>
                                        <div class="report-item__model">
                                            <div class="report-item__model-name select--on">@returned.Model</div>
                                            <div class="report-item__model-tag select--on">@returned.Tag</div>
                                        </div>
                                    </div>
                                    break;
                                case ErrorReportItem error:
                                    error = item as ErrorReportItem;
                                    <div class="report-item report-item--error">
                                        <i class="icon-cancel report-item__status report-item__status--red"></i>
                                        <i class="icon-@error.Icon report-item__model-icon"></i>
                                        <div class="report-item__model">
                                            <div class="report-item__model-name">@error.Model</div>
                                            <div class="report-item__model-tag select--on">@error.Tag</div>
                                        </div>
                                        <div class="report-item__info--error">
                                            @error.Message
                                        </div>
                                    </div>
                                    break;
                                case AssignmentReportItem asset: //DO WE NEED THIS CASE???? TODO
                                    sharedHTML<AssignmentReportItem>("ok", "green", item as AssignmentReportItem);
                                    break;
                                case IndefiniteReportItem asset:
                                    sharedHTML<IndefiniteReportItem>("plus-star", "blue", item as IndefiniteReportItem);
                                    break;
                                case ExtensionReportItem asset:
                                    sharedHTML<ExtensionReportItem>("forward", "yellow", item as ExtensionReportItem);
                                    break;
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
}

@functions {
    void sharedHTML<T>(string statusIcon, string colour, T item)
        where T : DetailedReportItem, new()
    {
        <div class="report-item">
            <i class="icon-@statusIcon report-item__status report-item__status--@colour"></i>
            <i class="icon-@item.Icon report-item__model-icon"></i>
            <div class="report-item__model">
                <div class="report-item__model-name select--on">@item.Model</div>
                <div class="report-item__model-tag select--on">@item.Tag</div>
            </div>
            @{
                if (item.CustomProperties != null)
                {
                    foreach (var property in item.CustomProperties)
                    {
                    <div class="report-item__info">
                        <div class="report-item__info-title">@property.Name</div>
                        <div class="report-item__info-value select--on">@property.Value</div>
                    </div>
                    }
                }
            }
            <div class="report-item__info">
                <div class="report-item__info-title">Due</div>
                <div class="report-item__info-value select--on">@item.Due.ToString("dd-MM-yy")</div>
            </div>
        </div>
    }
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/report.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
}
