@model UserSummaryViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content {
    <div class="summary">
        <div class="summary-content">
            <div class="summary-header">
                <div>
                    <div class="summary-header__name">Greg Boucher</div>
                    <div class="summary-header__date">Created: 19-02-20</div>
                </div>
                <div>
                    <input type="button" value="Edit User" class="summary-header__button">
                    <input type="button" value="Print Summary" class="summary-header__button">
                </div>
            </div>
            @{
                foreach (var group in Model.Groups)
                {
                        <div class="summary-group">
                            <div class="summary-group__title">@group.Name</div>
                            @foreach (var assignment in group.Assignments)
                            {
                                if (assignment is CompletedAssignment)
                                {
                                    var assigned = assignment as CompletedAssignment;
                                    <div class="summary-item">
                                        @if (assigned.Action == "assign")
                                        {
                                            <i class="icon-plus summary-item__status summary-item__status--green"></i>
                                        }
                                        else
                                        {
                                            if (assigned.Action == "extend")
                                            {
                                                <i class="icon-forward summary-item__status summary-item__status--yellow"></i>
                                            }
                                        }

                                        <i class="icon-@assigned.Icon summary-item__model-icon"></i>
                                        <div class="summary-item__model">
                                            <div class="summary-item__model-name">@assigned.Model</div>
                                            <div class="summary-item__model-tag">@assigned.Tag</div>
                                        </div>
                                        <div class="summary-item__info">
                                            <div class="summary-item__info-title">Password</div>
                                            <div class="summary-item__info-value">@assigned.Password</div>
                                        </div>
                                        <div class="summary-item__info">
                                            <div class="summary-item__info-title">Due</div>
                                            <div class="summary-item__info-value">@assigned.Due.ToString("dd-MM-yy")</div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="summary-item summary-item--error">
                                        <i class="icon-attention summary-item__status summary-item__status--red"></i>
                                        <i class="icon-@assignment.Icon summary-item__model-icon"></i>
                                        <div class="summary-item__model">
                                            <div class="summary-item__model-name">@assignment.Model</div>
                                        </div>
                                        <div class="summary-item__info--error">
                                            Unable to Assign
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                }
            }
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/summary.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
}
