@model UserSummaryViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content {
    <div class="summary">
        <div class="summary-content">
            <div class="summary-header">
                <div>
                    <div class="summary-header__name select--on">@Model.User.Name</div>
                    <div class="summary-header__date select--on">@Model.User.Created.ToString("dd-MM-yy h:mm tt")</div>
                </div>
                <div class="summary-header__right">
                    @{
                        switch (Model.User.Status)
                        {
                            case Status.Active:
                                <a asp-controller="User" asp-action="Edit" asp-route-userId="@Model.User.Id" class="summary-header__button" title="Edit this User">Edit User</a>
                                <input type="button" value="Print Assignments" class="summary-header__button">
                                break;
                            case Status.Inactive:
                                <i class="icon-info summary-header__icon summary-header__icon--blue"></i>
                                <div>
                                    <div>All outstanding assets have been returned</div>
                                    <div>User is now inactive</div>
                                </div>
                                break;
                            case Status.Error:
                                <i class="icon-attention summary-header__icon summary-header__icon--yellow"></i>
                                <div>
                                    <div>An error has occoured!</div>
                                    <div>Unable to count user assignments</div>
                                </div>
                                break;
                        }
                    }
                </div>
            </div>
            @{
                foreach (var group in Model.User.GroupedAssignments)
                {
                        <div class="summary-group">
                            <div class="summary-group__title">@group.Name</div>
                            @foreach (var assignment in group.Assignments)
                        {
                            switch (assignment)
                            {
                                case ReturnedAssignment returned:
                                    returned = assignment as ReturnedAssignment;
                                        <div class="summary-item">
                                            <i class="icon-cancel summary-item__status summary-item__status--red"></i>
                                            <i class="icon-@returned.Icon summary-item__model-icon"></i>
                                            <div class="summary-item__model">
                                                <div class="summary-item__model-name select--on">@returned.Model</div>
                                                <div class="summary-item__model-tag select--on">@returned.Tag</div>
                                            </div>
                                        </div>
                                        break;
                                    case ErrorAssignment error:
                                        error = assignment as ErrorAssignment;
                                        <div class="summary-item summary-item--error">
                                            <i class="icon-cancel summary-item__status summary-item__status--red"></i>
                                            <i class="icon-@error.Icon summary-item__model-icon"></i>
                                            <div class="summary-item__model">
                                                <div class="summary-item__model-name">@error.Model</div>
                                            </div>
                                            <div class="summary-item__info--error">
                                                @error.Message
                                            </div>
                                        </div>
                                        break;
                                    case NewAssignment asset:
                                        sharedHTML<NewAssignment>("ok", "green", assignment as NewAssignment);
                                        break;
                                    case ExtendAssignment asset:
                                        sharedHTML<ExtendAssignment>("forward", "yellow", assignment as ExtendAssignment);
                                        break;
                                }
                            }
                        </div>
                }
            }
        </div>
    </div>
}

@functions {
    void sharedHTML<T>(string statusIcon, string colour, T assignment) where T : QualifiedAssignment, new()
    {
        <div class="summary-item">
            <i class="icon-@statusIcon summary-item__status summary-item__status--@colour"></i>
            <i class="icon-@assignment.Icon summary-item__model-icon"></i>
            <div class="summary-item__model">
                <div class="summary-item__model-name select--on">@assignment.Model</div>
                <div class="summary-item__model-tag select--on">@assignment.Tag</div>
            </div>
            <div class="summary-item__info">
                <div class="summary-item__info-title">Password</div>
                <div class="summary-item__info-value select--on">@assignment.Password</div>
            </div>
            <div class="summary-item__info">
                <div class="summary-item__info-title">Due</div>
                <div class="summary-item__info-value select--on">@assignment.Due.ToString("dd-MM-yy")</div>
            </div>
        </div>
    }
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/summary.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
}
