@model UserSummaryViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="" disabled>
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content {
    <div class="summary">
        <div class="summary-content">
            <div class="summary-header">
                <div>
                    <div class="summary-header__name">@Model.User.Name</div>
                    <div class="summary-header__date">@Model.User.Created.ToString("dd-MM-yy h:mm tt")</div>
                </div>
                <div class="summary-header__right">
                    @if (Model.User.ActiveAssignments)
                    {
                        <a asp-controller="User" asp-action="Edit" asp-route-userId="@Model.User.Id" class="summary-header__button" title="Edit this User">Edit User</a>
                        <input type="button" value="Print Assignments" class="summary-header__button">
                    }
                    else
                    {
                        <i class="icon-info summary-header__icon"></i>
                        <div>
                            <div>All outstanding assets have been returned</div>
                            <div>User has been retired</div>
                        </div>


                    }
                </div>
            </div>
            @{
                foreach (var group in Model.User.GroupedAssignments)
                {
                        <div class="summary-group">
                            <div class="summary-group__title">@group.Name</div>
                            @foreach (var assignment in group.Assignments)
                            {
                                if (assignment is QualifiedAssignment)
                                {
                                    var asset = assignment as QualifiedAssignment;
                                    <div class="summary-item">
                                        @if (asset.Action == ActionType.Assign)
                                        {
                                            <i class="icon-plus summary-item__status summary-item__status--green"></i>
                                        }
                                        else
                                        {
                                            <i class="icon-forward summary-item__status summary-item__status--yellow"></i>
                                        }

                                        <i class="icon-@asset.Icon summary-item__model-icon"></i>
                                        <div class="summary-item__model">
                                            <div class="summary-item__model-name">@asset.Model</div>
                                            <div class="summary-item__model-tag">@asset.Tag</div>
                                        </div>
                                        <div class="summary-item__info">
                                            <div class="summary-item__info-title">Password</div>
                                            <div class="summary-item__info-value">@asset.Password</div>
                                        </div>
                                        <div class="summary-item__info">
                                            <div class="summary-item__info-title">Due</div>
                                            <div class="summary-item__info-value">@asset.Due.ToString("dd-MM-yy")</div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if (assignment is ReturnedAssignment)
                                    {
                                        var asset = assignment as ReturnedAssignment;
                                        <div class="summary-item">
                                            <i class="icon-cancel summary-item__status summary-item__status--red"></i>
                                            <i class="icon-@asset.Icon summary-item__model-icon"></i>
                                            <div class="summary-item__model">
                                                <div class="summary-item__model-name">@asset.Model</div>
                                                <div class="summary-item__model-tag">@asset.Tag</div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        if (assignment is ErrorAssignment)
                                        {
                                            var error = assignment as ErrorAssignment;
                                            <div class="summary-item summary-item--error">
                                                <i class="icon-cancel summary-item__status summary-item__status--red"></i>
                                                <i class="icon-@error.Icon summary-item__model-icon"></i>
                                                <div class="summary-item__model">
                                                    <div class="summary-item__model-name">@error.Model</div>
                                                </div>
                                                <div class="summary-item__info--error">
                                                    @error.Message
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            }
                        </div>
                }
            }
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/summary.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/accordion.js"></script>
}
