@model HomeDashboardViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="Search All Assignments">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button navigation__button--selected">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a class="navigation__button" href="#">
        <i class="icon-book navigation__button-icon"></i>
        <div class="navigation__button-text">History</div>
    </a>
    <div class="navigation__button accordion">
        <i class="icon-cog navigation__button-icon"></i>
        <div class="navigation__button-text">Admin</div>
        <i class="navigation__button-dropdown-icon"></i>
    </div>
    <div class="navigation__submenu">
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Settings</div>
        </a>
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Create Tool</div>
        </a>
    </div>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content_header {
    <div class="content-header__group">
        <a asp-controller="User" asp-action="Create" class="dashboard-header__button">
            <i class="icon-user-plus"></i>
            <div class="dashboard-header__button-text">New Assignment</div>
        </a>
    </div>
}

@section content {
    <div class="dashboard">
        <div class="overview">
            <div class="overview__card no-select" title="Filter by Assets due today">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.DueTodayCount</div>
                    <div class="overview__card-subject">Asset@(Model.DueTodayCount == 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Due Today</div>
                </div>
                <i class="icon-calendar-check-o overview__card-icon"></i>
            </div>
            <div class="overview__card no-select" title="Filter by overdue Assets">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.OverdueCount</div>
                    <div class="overview__card-subject">Asset@(Model.OverdueCount == 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Overdue</div>
                </div>
                <i class="icon-calendar-times-o overview__card-icon"></i>
            </div>
            <div class="overview__card no-select" title="Filter by Assets Assigned today">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.CreatedTodayCount</div>
                    <div class="overview__card-subject">User@(Model.CreatedTodayCount == 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Created Today</div>
                </div>
                <i class="icon-calendar-plus-o overview__card-icon"></i>
            </div>
            <div class="overview__card no-select" title="Filter by Extended Assets">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">0</div>
                    <div class="overview__card-subject">Subject</div>
                    <div class="overview__card-verb">Verb</div>
                </div>
                <i class="icon-calendar overview__card-icon"></i>
            </div>
        </div>
        <div class="dropdown__wrapper">
            <div id="dropdown" class="dropdown">No Filter</div>
            <div class="dropdown__content">
                <input class="dropdown__search" type="text">
                <div class="dropdown__scroll-group">
                    <div class="dropdown__option is-active" data-search="">No Filter<span class="dropdown__option-value">@Model.DistinctUsersByGroupCount</span></div>
                    @foreach (var group in Model.Groups)
                    {
                        <div class="dropdown__option" data-search="@group.Name">@group.Name<span class="dropdown__option-value">@group.Users.Count</span></div>
                    }
                </div>
            </div>
        </div>
        <div class="data">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Assets</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var group in Model.Groups)
                {
                    foreach (var user in group.Users)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@group.Name</td>
                            <td>@user.Role</td>
                            <td class="@(DateTime.Now.ToString("dd-MM-yy") == user.Created.ToString("dd-MM-yy") ? "data-table__today" : "")">@user.Created.ToString("dd-MM-yy")</td>
                            <td>
                                <div class="data-table__status data-table__status--@user.Assets[0].Status.ToLower() no-select">@user.Assets[0].Status</div>
                            </td>
                            <td>@user.Assets[0].Due.ToString("dd-MM-yy")</td>
                            <td>
                                @foreach (var asset in user.Assets)
                                {
                                    <i class="icon-@asset.Icon data-table__icon data-table__icon--@asset.Status.ToLower() no-select" title="@asset.Tag &#xA;Due: @asset.Due.ToString("dd-MM-yy")"></i>
                                }
                            </td>
                            <td>
                                <div class="data-table__action">
                                    <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="data-table__action-button data-table__action-button--blue" title="Edit User details &#xA;Add/remove Assets">Edit</a>
                                    <input type="button" value="Return All" class="data-table__action-button data-table__action-button--yellow" title="Mark those Assets belonging to this User and Group as returned"/>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/overview.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
    <link rel="stylesheet" href="~/css/data.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/dashboard.js"></script>
}