@model HomeDashboardViewModel

@section top_bar {
    <input class="top-bar__input-field" type="text" onkeyup="Update(this.value.toUpperCase())" placeholder="Search Assignments by Name, Role, or Status">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button navigation__button--selected">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a class="navigation__button" href="#">
        <i class="icon-book navigation__button-icon"></i>
        <div class="navigation__button-text">History</div>
    </a>
    <div class="navigation__button accordion">
        <i class="icon-cog navigation__button-icon"></i>
        <div class="navigation__button-text">Admin</div>
        <i class="navigation__button-dropdown-icon"></i>
    </div>
    <div class="navigation__submenu">
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Settings</div>
        </a>
        <a class="navigation__button" href="#">
            <i class="icon-right-dir navigation__button-icon"></i>
            <div class="navigation__button-text">Create Tool</div>
        </a>
    </div>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content_header {
    <div class="content-header__group">
        <a asp-controller="User" asp-action="Create" class="dashboard-header__button">
            <i class="icon-user-plus"></i>
            <div class="dashboard-header__button-text">New Assignment</div>
        </a>
    </div>
}

@section content {
    <div class="dashboard">
        <div class="dashboard-overview">
            <div class="dashboard-overview__card no-select" title="Show all Assignments">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.AssignedUserCount</div>
                        <div class="dashboard-overview__card-subject">Active</div>
                        <div class="dashboard-overview__card-verb">Assignment@(Model.AssignedUserCount == 1 ? "" : "s")</div>
                    </div>
                    <i class="icon-user-o dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card no-select">
                <div class="dashboard-overview__card-body" title="Filter by Assets due today">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.DueTodayCount</div>
                        <div class="dashboard-overview__card-subject">Asset@(Model.DueTodayCount == 1 ? "" : "s")</div>
                        <div class="dashboard-overview__card-verb">Due Today</div>
                    </div>
                    <i class="icon-calendar-check-o dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card no-select" title="Filter by overdue Assets">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">@Model.OverdueCount</div>
                        <div class="dashboard-overview__card-subject">Asset@(Model.OverdueCount == 1 ? "" : "s")</div>
                        <div class="dashboard-overview__card-verb">Overdue</div>
                    </div>
                    <i class="icon-calendar-times-o dashboard-overview__card-icon"></i>
                </div>
            </div>
            <div class="dashboard-overview__card no-select" title="Placeholder">
                <div class="dashboard-overview__card-body">
                    <div class="dashboard-overview__card-info">
                        <div class="dashboard-overview__card-number">0</div>
                        <div class="dashboard-overview__card-subject">Subject</div>
                        <div class="dashboard-overview__card-verb">Verb</div>
                    </div>
                    <i class="icon-question-circle-o dashboard-overview__card-icon"></i>
                </div>
            </div>
        </div>
        <div class="dashboard-groups">
            @if (Model.Groups.Count() > 0)
            {
                @foreach (var group in Model.Groups)
                {
                    <div class="dashboard-groups__header no-select accordion" title="@group.Description">
                        <i class="dashboard-groups__header-icon"></i>
                        <div class="dashboard-groups__header-name">@group.Name</div>
                        <div class="dashboard-groups__header-number">(@group.Users.Count)</div>
                    </div>
                    <div class="dashboard-groups__body">
                        <table class="dashboard-groups__table" data-name="dashboard-groups__table">
                            <tr class="dashboard-groups__row no-select">
                                <th>Name</th>
                                <th>Role</th>
                                <th>Created</th>
                                <th>Assets</th>
                                <th>Due Date</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            @foreach (var user in group.Users)
                            {
                                <tr class="dashboard-groups__row">
                                    <td class="dashboard-groups__search-content">@user.Name</td>
                                    <td class="dashboard-groups__search-content">@user.Role.Name</td>
                                    <td>@user.Created.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        @foreach (var asset in user.Assets)
                                        {
                                            <i class="icon-@asset.Model.Icon.Name dashboard-groups__asset-icon no-select dashboard-groups__search-classlist dashboard--@asset.Status.ToLower()" title="@asset.Tag &#xA;Due: @asset.Due.ToString("dd-MM-yy")"></i>
                                        }
                                    </td>
                                    <td>@user.Assets[0].Due.ToString("dd-MM-yyyy")</td>
                                    <td>
                                        <div class="dashboard-groups__status dashboard-groups__search-content no-select dashboard--@user.Assets[0].Status.ToLower()">@user.Assets[0].Status</div>
                                    </td>
                                    <td>
                                        <div class="dashboard-groups__action">
                                            <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="dashboard-groups__action-button dashboard-groups__action-button--edit" title="Edit User details &#xA;Add/remove Assets">Edit</a>
                                            <a class="dashboard-groups__action-button dashboard-groups__action-button--return" title="Mark those Assets belonging to this User and Group as returned" href="#">Return All</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            }
            else
            {
                <div class="dashboard-groups__header no-select dashboard-groups__header--empty">No Assets are currently assigned</div>
            }
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/dashboard_overview.css">
    <link rel="stylesheet" href="~/css/dashboard_groups.css">
}

@section javascript {
    <script src="~/js/accordion.js"></script>
    <script src="~/js/dashboard.js"></script>
}