@model HomeDashboardViewModel

@section top_bar {
    <input class="top-bar__field" id="top-bar__field" type="text" placeholder="Search All Assignments">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="button button--blue">
        <i class="button__icon icon-home"></i>
        <div class="button__text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="button">
        <i class="button__icon icon-user-plus"></i>
        <div class="button__text">New User</div>
    </a>
}

@section content_header {
    <div class="header__group">
        <a asp-controller="User" asp-action="Create" class="btn">
            <i class="btn__icon icon-user-plus"></i>New User
        </a>
    </div>
}

@section content {
    <div class="dashboard">
        <div class="overview">
            <div class="card" onmouseover="ShowTooltip($(this), 1000, false, 0, -10);" onmouseout="HideTooltip($(this));">
                <div class="card__body">
                    <div class="card__quantity">@Model.CountDueToday</div>
                    <div class="card__subject">Asset@(Model.CountDueToday == 1 ? "" : "s")</div>
                    <div class="card__verb">Due Today</div>
                </div>
                <i class="card__icon icon-calendar-check-o"></i>
            </div>
            <h1 class="tooltip">
                <div class="tooltip__content tooltip__content--no-spacing tooltip--caps">
                    <div>Show only users with assets that are <span>due today</span></div>
                </div>
            </h1>
            <div class="card" onmouseover="ShowTooltip($(this), 1000, false, 0, -10);" onmouseout="HideTooltip($(this));">
                <div class="card__body">
                    <div class="card__quantity">@Model.CountOverdue</div>
                    <div class="card__subject">Asset@(Model.CountOverdue == 1 ? "" : "s")</div>
                    <div class="card__verb">Overdue</div>
                </div>
                <i class="card__icon icon-hourglass-3"></i>
            </div>
            <h1 class="tooltip">
                <div class="tooltip__content tooltip__content--no-spacing tooltip--caps">
                    <div>Show only users with assets that are <span>overdue</span></div>
                </div>
            </h1>
            <div class="card" onmouseover="ShowTooltip($(this), 1000, false, 0, -10);" onmouseout="HideTooltip($(this));">
                <div class="card__body">
                    <div class="card__quantity">@Model.CountCreatedToday</div>
                    <div class="card__subject">User@(Model.CountCreatedToday == 1 ? "" : "s")</div>
                    <div class="card__verb">Created Today</div>
                </div>
                <i class="card__icon icon-users"></i>
            </div>
            <h1 class="tooltip">
                <div class="tooltip__content tooltip__content--no-spacing tooltip--caps">
                    <div>Show only users with assets that were assigned <span>today</span></div>
                </div>
            </h1>
            <div class="card" onmouseover="ShowTooltip($(this), 1000, false, 0, -10);" onmouseout="HideTooltip($(this));">
                <div class="card__body">
                    <div class="card__quantity">@Model.CountLongterm</div>
                    <div class="card__subject">Long-term</div>
                    <div class="card__verb">Assignment@(Model.CountLongterm == 1 ? "" : "s")</div>
                </div>
                <i class="card__icon icon-calendar-empty"></i>
            </div>
            <h1 class="tooltip">
                <div class="tooltip__content tooltip__content--no-spacing tooltip--caps">
                    <div>Show only users with <span>long-term</span> assignments</div>
                </div>
            </h1>
        </div>
        <div class="dropdown__wrapper">
            <div id="dropdown" class="dropdown">No Filter</div>
            <div class="dropdown__content">
                <input class="dropdown__search" type="text">
                <div class="dropdown__scroll-group">
                    <div class="dropdown__option is-active" data-search="">No Filter<span class="dropdown__option-value">@{var assignmentCount = 0; foreach (var collection in Model.CollectionsOfUsers) { assignmentCount += collection.TList.Count; } @assignmentCount }</span></div>
                    @foreach (var collection in Model.CollectionsOfUsers)
                    {
                        <div class="dropdown__option" data-search="@collection.Name">@collection.Name<span class="dropdown__option-value">@collection.TList.Count</span></div>
                    }
                </div>
            </div>
        </div>
        <div class="data">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Collection</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Assets</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var collection in Model.CollectionsOfUsers)
                {
                    foreach (var user in collection.TList)
                    {
                        <tr>
                            <td class="select--on">@user.Name</td>
                            <td class="select--on">@collection.Name</td>
                            <td class="select--on">@user.Role</td>
                            <td class="select--on @(DateTime.Now.ToString("dd-MM-yy") == user.Created.ToString("dd-MM-yy") ? "data-table__today" : "")">@user.Created.ToString("dd-MM-yy")</td>
                            <td>
                                <div class="data-table__status data-table__status--@user.Assets[0].Status.ToString().ToLower()">@user.Assets[0].Status.ToString().Replace("_", "-")</div>
                            </td>
                            <td class="select--on">@(user.Assets[0].Due != null ? user.Assets[0].Due.Value.ToString("dd-MM-yy") : "")</td>
                            <td>
                                @foreach (var asset in user.Assets)
                                {
                                    <i class="icon-@asset.Icon data-table__icon data-table__icon--@asset.Status.ToString().ToLower()" onmouseover="ShowTooltip($(this), 500, false, 5, 5);" onmouseout="HideTooltip($(this));"></i>
                                    <div class="tooltip">
                                        <div class="tooltip__content tooltip__content--no-spacing">
                                            <div><span>Model: </span>@asset.Model</div>
                                            <div><span>Serial Number: </span>@asset.Id</div>
                                            <div><span>Tag: </span>@asset.Tag</div>
                                            <div><span>Assigned: </span>@asset.Assigned.ToString("dd-MM-yy h:mm tt")</div>
                                            <div><span>Due: </span>@(asset.Due != null ? asset.Due.Value.ToString("dd-MM-yy") : "Long-term")</div>
                                        </div>
                                    </div>
                                }
                            </td>
                            <td>
                                <div class="data-table__action">
                                    <a asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="data-table__action-button data-table__action-button--blue" title="Click to edit this user's details&#xA;or add, extend, or remove assets">Edit</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
}

@section javascript {
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/dashboard.js"></script>
}