@model HomeDashboardViewModel

@section top_bar {
    <input class="top-bar__input" id="top-bar__input" type="text" placeholder="Search All Assignments">
}

@section side_bar {
    <a asp-controller="Home" asp-action="Dashboard" class="navigation__button navigation__button--blue">
        <i class="icon-home navigation__button-icon"></i>
        <div class="navigation__button-text">Dashboard</div>
    </a>
    <a asp-controller="User" asp-action="Create" class="navigation__button">
        <i class="icon-user-plus navigation__button-icon"></i>
        <div class="navigation__button-text">New Assignment</div>
    </a>
}

@section content_header {
    <div class="content-header__group">
        <a asp-controller="User" asp-action="Create" class="dashboard-header__button">
            <i class="icon-user-plus"></i>
            <div class="dashboard-header__button-text">New Assignment</div>
        </a>
    </div>
}

@section content {
    <div class="dashboard">
        <div class="overview">
            <div class="overview__card" title="Filter by Assets due today">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.CountDueToday</div>
                    <div class="overview__card-subject">Asset@(Model.CountDueToday == 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Due Today</div>
                </div>
                <i class="icon-calendar-check-o overview__card-icon"></i>
            </div>
            <div class="overview__card" title="Filter by overdue Assets">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.CountOverdue</div>
                    <div class="overview__card-subject">Asset@(Model.CountOverdue == 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Overdue</div>
                </div>
                <i class="icon-calendar-times-o overview__card-icon"></i>
            </div>
            <div class="overview__card" title="Filter by Assets Assigned today">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">@Model.CountCreatedToday</div>
                    <div class="overview__card-subject">User@(Model.CountCreatedToday== 1 ? "" : "s")</div>
                    <div class="overview__card-verb">Created Today</div>
                </div>
                <i class="icon-calendar-plus-o overview__card-icon"></i>
            </div>
            <div class="overview__card" title="Filter by Extended Assets">
                <div class="overview__card-text">
                    <div class="overview__card-quantity">0</div>
                    <div class="overview__card-subject">Subject</div>
                    <div class="overview__card-verb">Verb</div>
                </div>
                <i class="icon-calendar overview__card-icon"></i>
            </div>
        </div>
        <div class="dropdown__wrapper">
            <div id="dropdown" class="dropdown">No Filter</div>
            <div class="dropdown__content">
                <input class="dropdown__search" type="text">
                <div class="dropdown__scroll-group">
                    <div class="dropdown__option is-active" data-search="">No Filter<span class="dropdown__option-value">@{var assignmentCount = 0; foreach (var group in Model.GroupedUsers) { assignmentCount += group.Users.Count; } @assignmentCount }</span></div>
                    @foreach (var group in Model.GroupedUsers)
                    {
                        <div class="dropdown__option" data-search="@group.Name">@group.Name<span class="dropdown__option-value">@group.Users.Count</span></div>
                    }
                </div>
            </div>
        </div>
        <div class="data">
            <table id="data-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Group</th>
                        <th>Role</th>
                        <th>Created</th>
                        <th>Status</th>
                        <th>Due Date</th>
                        <th>Assets</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                @foreach (var group in Model.GroupedUsers)
                {
                    foreach (var user in group.Users)
                    {
                        <tr>
                            <td class="select--on">@user.Name</td>
                            <td class="select--on">@group.Name</td>
                            <td class="select--on">@user.Role</td>
                            <td class="@(DateTime.Now.ToString("dd-MM-yy") == user.Created.ToString("dd-MM-yy") ? "data-table__today" : "") select--on">@user.Created.ToString("dd-MM-yy")</td>
                            <td>
                                <div class="data-table__status data-table__status--@user.Assets[0].Status.ToString().ToLower()">@user.Assets[0].Status.ToString()</div>
                            </td>
                            <td class="select--on">@user.Assets[0].Due.ToString("dd-MM-yy")</td>
                            <td>
                                @foreach (var asset in user.Assets)
                                {
                                    <i class="icon-@asset.Icon data-table__icon data-table__icon--@asset.Status.ToString().ToLower()" title="SN: @asset.Id&#xA;Tag: @asset.Tag&#xA;Assigned: @asset.Assigned.ToString("dd-MM-yy")&#xA;Due: @asset.Due.ToString("dd-MM-yy")"></i>
                                }
                            </td>
                            <td>
                                <div class="data-table__action">
                                    <a asp-controller="User" asp-action="Edit" asp-route-userId="@user.Id" class="data-table__action-button data-table__action-button--blue" title="Edit user details &#xA;Add/remove assets">Edit</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
}

@section stylesheet {
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/overview.css">
    <link rel="stylesheet" href="~/css/dropdown.css">
    <link rel="stylesheet" href="~/css/data.css">
}

@section javascript {
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.dataTables.js"></script>
    <script src="~/js/accordion.js"></script>
    <script src="~/js/dropdown.js"></script>
    <script src="~/js/dashboard.js"></script>
}